.MainProducts
    width: auto
    height: auto
    padding-left: 7vw
    padding-right: 7vw
    padding-bottom: 7vw
    
    & > h1
        //padding-bottom: 20px
        color: $primaryTextColor
        font-size: 8em
        
    &__cardSection
        //grid-template-columns: 1fr 1fr 1fr
        padding-left: 10vw
        display: flex
        //grid-auto-flow: column
        //overflow-y: scroll
        //content: initial
        //gap: 10px
        width: 80%
        height: auto
        justify-content: center
        align-items: center
        column-gap: 200px
        row-gap: 80px
        flex-wrap: wrap
        object-fit: cover

        
    &__card
        width: 12.5vw
        height: 45vh
        background-color: $secondaryColor
        color: #FFFF
        border-radius: 15px
    &__button
        width: 100%
        display: flex
        justify-content: flex-end
        padding-bottom: 8px
        button
            background-color: $secondaryColor
            background: none
            border: none
    &__image
        width: 100%
        height: auto
        display: flex
        justify-content: center
        align-items: center
        & > img 
            border-radius: 10px
            width: 10vw
            height: 30vh
            object-fit: cover
    &__ref
        display: flex
        width: 100%
        justify-content: center
        & > h2
            font-weight: 300
        

