.Hero {
    margin: 10rem;
    text-align: center;
}

.Hero > h1 {
    font-size: 4rem;
    color: blueviolet;
    font-family: 'Georgia', serif; /* Tipografía cursiva estilizada */
    font-style: italic;
    font-weight: bold; /* Añade un poco más de peso a la letra */
}

.Hero > h2 {
    font-size: 3rem;
    color: crimson; /* Un color rojo más estilizado */
    font-family: 'Verdana', sans-serif;
    font-weight: 600; /* Hace el subtítulo un poco más vistoso */
    margin-top: 1rem; /* Espacio superior para separar del título */
}
